## Moonlit .gitignore
## Author: Michał Gardeła
## Version: 1.0.2
## Ignore all files:
*
## Ignore all, except:
# Unity must-have directories:
![aA]ssets
![aA]ssets/**
![pP]roject[sS]ettings
![pP]roject[sS]ettings/**
[bB]uilds
[bB]uilds/**
# Git settings:
!.gitignore
!.gitattributes
!.gitmodules
# Documents (Docs)
![dD]ocs
![dD]ocs/**
![dD]ocuments
![dD]ocuments/**
# Readme
![rR]eadme.*
!README.*
# Changelog
![cH]angelog.*
!CHANGELOG.*
## Ignore again:
# Special temporary directory in Assets:
# zGitIgnore
[aA]ssets/[Zz][gG]it[iI]gnore
[aA]ssets/[Zz][gG]it[iI]gnore/**
# Ignore UnityVS tools:
Assets/**/UnityVS